body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }

/* aqui va la edicion del footer */

footer{
    background-color: #111;
    display: flex;          /* Make footer a flex container */
    flex-wrap: wrap;        /* Allow elements to wrap */
    justify-content: space-between; /* Distribute content evenly */
}

.footer-container{
    width: 100%;
    padding: 10px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(237, 128, 128);
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover i{
    color: brown;
    transition: 0.5s;
}